{% extends "to_do_list/base.html" %}
{% block title %}Edit your {{title}}{% endblock %}

{% block main %}
    <h2>Edit your {{title}}</h2>
    <form action="/todolist/edit/{{addr}}/" method="post">
        {% ifequal addr 'task'%}
        <div>
            <span>Task</span>
            <span>Category</span>
            <span>Deadline</span>
            <span>empty)</span>
            <span>Delete?</span>
        </div>
        {%else%}
            <div>
                <span>Category</span>
                <span>empty)</span>
                <span>Delete?</span>
            </div>
        {%endifequal%}

        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            {% if forloop.last %}
                <div>Add new</div>
            {% endif %}
            <div>
            {% for field in form %}
                <span>{{ field }}</span>
            {% endfor %}
            </div>
        {% endfor %}
        <input type="submit" value="Save" />
    </form>
    {% endblock %}